{% extends "django_root/site_base.html" %}
{% block page_body %}

    <form action="{% url 'til:til_de' %}" method="post">
    <div class="learnt-title">TITLE {{ learnt_title }}</div>
    <div class="learnt-tldr">TLDR: {{ learnt_tldr }}</div>
    <div class="learnt-content">Today I learned: {{ learnt_content }}</div>
    <div class="learnt-tag-list">{% for tag in tags %}
        <div class="learnt-tag">{{ tag }}</div>
    {% endfor %}
    </div>

        <button><a href="{% url 'til:til_de_id' learnt_id %}"> Edit </a></button>
</form>
<div class="navigation">
    <div class="home_link"><a href="{% url 'til:til_landing' %}">Home</a></div>
</div>
{% endblock %}